/*====== Hero-section-start ======*/

.Hero-section {
  position: relative;
  z-index: 1;
  background: url(../assets/images/hero-bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.Hero-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 1;
  background: linear-gradient(
    270deg,
    rgba(207, 29, 50, 0.306),
    rgba(144, 67, 137, 1),
    rgba(81, 106, 176, 1)
  );
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;
  top: 0;
}

/* Gradient Animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Add this to your main CSS file */
.particles-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  background: transparent;
}

.Hero-section .hero-main {
  position: relative;
  z-index: 2;
}

.Hero-section .hero-main {
  padding: 90px 0px;
}

.Hero-section .hero-caption span {
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
}

.Hero-section .hero-caption h2 {
  font-size: 70px;
  color: var(--white);
  font-weight: 600;
  margin: 15px 0px 10px 0px;
}

.Hero-section .hero-caption p {
  font-size: 16px;
  color: var(--white);
}

.Hero-section .readbtn {
  background-color: var(--white);
  color: var(--primary-color);
  text-decoration: none;
  padding: 15px 30px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.Hero-section .readbtn:hover {
  background-color: var(--primary-color);
  transition: ease-in-out 0.2s;
  color: var(--white);
}

.Hero-section .contactbtn {
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 15px 30px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.Hero-section .contactbtn:hover {
  background-color: var(--white);
  transition: ease-in-out 0.2s;
  color: var(--primary-color);
}

.Hero-section .contact-btns {
  margin-top: 40px;
}

.Hero-section .offcanvas {
  background-color: var(--primary-color);
}

/*==== Hero-section-end =====*/

/*==== Service-section-start =====*/

.service-section {
  padding: 90px 0px;
  background-color: var(--white);
  overflow: hidden;
}

.service-section .section-title {
  margin: 0px 280px 45px 280px;
  text-align: center;
}

.service-section .section-title span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}

.service-section .section-title span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  left: -60px;
  top: 10px;
}

.service-section .section-title span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}

.service-section .section-title h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}

.service-section .service-item {
  margin-bottom: 25px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
}

.service-section .service-item::before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  z-index: -1;
background: linear-gradient(
  90deg,
  rgba(207, 29, 50, 1) 0%,
  rgba(144, 67, 137, 1) 50%,
  rgba(81, 106, 176, 1) 100%
);

  height: 50px;
  width: 50px;
  border-radius: 20px;
  transition: 1.2s;
}

.service-section .service-item:hover::before {
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: 1.2s;
  right: 0;
  bottom: 0;
}

.service-section .service-item:hover h2,
.service-section .service-item:hover .service-icon svg,
.service-section .service-item:hover p,
.service-section .service-item:hover a {
  color: var(--white);
  transition: 1.4s;
}

.service-section .service-item .service-icon {
  font-size: 70px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.service-section .service-item h2 {
  font-size: 20px;
  color: var(--secondary-color);
  font-weight: 700;
}

.service-section .service-item p {
  font-size: 14px;
  color: var(--grey);
  font-weight: 500;
  margin-top: 15px;
}

.service-section .service-item a {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;
}

/*==== Service-section-end =====*/

/*==== About-section-start ====*/

.about-section {
  padding: 90px 0px;
  background: var(--background-color);
  overflow: hidden;
}

.about-section .about-item .about-content span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}

.about-section .about-content span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}

.about-section .about-content h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}

.about-section .about-content p {
  color: var(--grey);
  font-size: 16px;
  margin: 20px 0px;
}

.about-section .about-content strong{
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 700;
}

.about-section .service-main {
  margin-bottom: 50px;
}

.about-section .service {
  display: flex;
  margin: 20px 0px;
}

.about-section .service svg {
  background-color: #cdccff;
  color: var(--primary-color);
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 10px;
}

.about-section .service h2 {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 700;
}

.about-section .about-item .read-more {
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 15px 30px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.about-section .about-item .read-more:hover {
  background-color: var(--secondary-color);
  transition: ease-in-out 0.2s;
  color: var(--white);
}

/*==== about-section-end =====*/


/*==== funfact-section-start =====*/

.funfact-section {
  padding: 45px 0px;
  background-color: var(--white);
  overflow: hidden;
}

.funfact-section .funfact-card {
  border: 1px solid rgba(128, 128, 128, 0.404);
  padding: 20px 10px;
}

.funfact-section .funfact-card h2 {
  font-size: 30px;
  color: var(--primary-color);
  font-weight: 700;
}

.funfact-section .funfact-card span {
  font-size: 30px;
  color: var(--secondary-color);
  font-weight: 700;
}

.funfact-section .funfact-card h3{
   font-size: 20px;
  color: var(--secondary-color);
  font-weight: 700;
}

.funfact-section .funfact-card p {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 400;
  margin: 0;
}

.funfact-section .funfact-card svg {
  height: 40px;
  width: 40px;
  color: var(--primary-color);
}

/*==== funfact-section-end =====*/

/*==== whyChoose-section-start ====*/

.whyChoose-section {
  padding: 90px 0px;
  background: var(--background-color);
  overflow: hidden;
}

.whyChoose-section .whyChoose-item .whyChoose-content span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}

.whyChoose-section .whyChoose-content span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}
.whyChoose-section .whyChoose-content h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}

.whyChoose-section .whyChoose-content p {
  color: var(--grey);
  font-size: 16px;
  margin: 20px 0px;
}

.whyChoose-section .whyChoose-main {
  margin-bottom: 50px;
}

.whyChoose-section .whyChoose {
  display: flex;
  margin: 20px 0px;
}

.whyChoose-section .whyChoose svg {
  background-color: #cdccff;
  color: var(--primary-color);
  height: 50px;
  width: 50px;
  padding: 15px;
  border-radius: 10px;
}

.whyChoose-section .whyChoose h2 {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 700;
}

/*==== whyChoose-section-end =====*/

/*==== case-study-section-section-start ====*/

.case-study-section {
  padding: 90px 0px;
  overflow: hidden;
  background-color: var(--white);
}

.case-study-section .section-title {
  margin-bottom: 45px;
  text-align: center;
}

.case-study-section .section-title span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}

.case-study-section .section-title span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  left: -60px;
  top: 10px;
}

.case-study-section .section-title span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}

.case-study-section .section-title h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}

.case-study-section .case-card {
  background-color: var(--background-color);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.case-study-section .case-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.case-study-section .case-card .icon-wrap {
  font-size: 40px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.case-study-section .case-card h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.case-study-section .case-card h4{
   font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px; 
}

.case-study-section .case-card p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.case-study-section .case-card button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  transition: 0.5s ease;
  margin-top: 30px;
}

.case-study-section .case-card button:hover {
  background-color: var(--secondary-color);
    transition: 0.5s ease;
}

.modal-content{
  background-color: var(--secondary-color);
}

/* Modal Styling */
.modal-backdrop {
background-color: var(--secondary-color);
}

.modal-content {
  border-radius: 12px;
  padding: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-weight: 700;
  font-size: 22px;
  color: var(--white);
}

.btn-close-custom {
  background: none;
  border: none;
  font-size: 20px;
  color: #000;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
  background-color: white;
  border-radius: 5px;
  line-height: 30px;
}


.modal-body h5{
  color: var(--white);
  margin-bottom: 18px;
}

.modal-body p {
  font-size: 16px;
  color: var(--white);
}

.modal-header .btn-close {
    background-color: var(--white);
    opacity: 1;
    border-radius: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 5px;
}

.modal-footer
{
  justify-content: left;
}

.modal-footer button{
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .case-card {
    padding: 20px;
  }

  .case-card .case-icon {
    font-size: 32px;
  }

  .case-card h3 {
    font-size: 20px;
  }
}

/*==== case-study-section-section-end ====*/

/*==== whoweare-section-start ====*/

.who-we-are {
  padding: 90px 0px;
  text-align: center;
  background: url(../assets/images/banner.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
  justify-content: center;
  overflow: hidden;
}

.who-we-are::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #10393bd0;
  z-index: -1;
}

.who-we-are .Who-wre-are-item span {
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
  position: relative;
}

.who-we-are .Who-wre-are-item span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  left: -60px;
  top: 10px;
}

.who-we-are .Who-wre-are-item span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}

.who-we-are .Who-wre-are-item h2 {
  font-size: 50px;
  color: var(--white);
  font-weight: 600;
  margin: 20px 0px 40px 0px;
}

.who-we-are .Who-wre-are-item {
  margin: 50px 200px;
}

.who-we-are .Who-wre-are-item a {
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 15px 30px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.who-we-are .Who-wre-are-item a:hover {
  background-color: var(--secondary-color);
  transition: ease-in-out 0.2s;
}

/*==== whoweare-section-end ====*/

/*==== our-clint-section-start ==== */

.clients-section {
  padding: 45px 0;
  background-color: var(--white);

}
.clients-section .section-title {
  margin: 0px 200px 45px 200px;
  text-align: center;
}
.clients-section .section-title span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}
.clients-section .section-title span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  left: -60px;
  top: 10px;
}
.clients-section .section-title span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}
.clients-section .section-title h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}
.client-logo {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow: hidden;
  margin: 20px 0px;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.client-logo img {
  max-height: 80%; 
  max-width: 100%;  
  object-fit: contain; 
  display: block;
}

/*==== our-clint-section-end ==== */

/*==== testimonial-section-start ====*/

.testimonial-section {
  background-color: var(--background-color);
  padding: 90px 0px;
  overflow: hidden;
}

.testimonial-section .section-title {
  margin: 0px 200px 45px 200px;
  text-align: center;
}
.testimonial-section .section-title span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}
.testimonial-section .section-title span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  left: -60px;
  top: 10px;
}

.testimonial-section .section-title span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}

.testimonial-section .section-title h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}

.testimonial-section .testimonial-item {
  padding-right: 10px;
  margin: 15px 20px;
} 

.testimonial-section .slide-item p {
  color: var(--grey);
  margin: 0;
  font-size: 16px;
}

.testimonial-section .slide-item svg {
  height: 50px;
  width: 50px;
  color: var(--primary-color);
  padding: 0px 5px;
  margin-bottom: 15px;
}

.testimonial-section .author h2 {
  margin: 0;
  font-size: 16px;
  color: var(--dark);
  font-weight: 600;
}

.testimonial-section .author p {
  margin: 0;
  font-size: 14px;
  color: var(--grey);
}

.testimonial-section .star-rating {
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 5px;
}

.testimonial-section .author svg {
  color: orange;
  height: 15px;
  width: 15px;
  padding: 0;
  margin: 0;
}

/*==== testimonial-section-end ====*/

/* If not using inline styles */
.cta-section {
  background: linear-gradient(135deg, #001a33 0%, #004080 100%);
  padding: 90px 0;
  color: var(--white);
  overflow: hidden;
  background: url(../assets//images/cta-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.cta-section::before{
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #001a336c 0%, #004080b9 100%);
  z-index: -1;
}

.cta-section .cta-btn-primary {
  background: var(--primary-color);
  color: #fff;
  padding: 12px 30px;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid var(--white);
}

.cta-section .cta-btn-primary:hover {
  background: transparent;
  color: var(--white);
}

.cta-section .cta-btn-secondary {
  background: transparent;
  color: #fff;
  padding: 12px 30px;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid #fff;
}

.cta-section .cta-btn-secondary:hover {
  background: #fff;
  color: #004080;
}
/*==== cta-section-end ====*/

/*===== breadcrumb-section-start======*/

.breadcrumb-section {
  position: relative;
  z-index: 1;
  background: url(../assets/images/breadcrumb-bg.jpg) no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 90px 0px;
  height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.breadcrumb-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 1;
  background: linear-gradient(
    270deg,
    rgba(144, 67, 138, 0.333),
    rgba(81, 106, 176, 0.368)
  );
  background-size: 600% 600%;
  animation: gradientShift 10s ease infinite;
  top: 0;
}

/* Gradient Animation */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.breadcrumb-section .breadcrumb-heading h2 {
  font-size: 30px;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 10px;
}

.breadcrumb-section .breadcrumb {
  padding: 0;
  margin: 0;
}

.breadcrumb-section .breadcrumb li {
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  z-index: 1;
  padding-right: 5px;
}

.breadcrumb-section .breadcrumb li a {
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
}

.breadcrumb-section .breadcrumb li a:hover {
  color: var(--primary-color);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--white);
}

.breadcrumb-section .breadcrumb-box {
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  flex-direction: column;
  justify-content: start;
  background-color: #032e7ee3;
}

/*===== breadcrumb-section-end ======*/

/* ===== contact-section-start ===== */

.contact-section {
  padding: 90px 0px;
  overflow: hidden;
}

.contact-section .section-title {
  margin-bottom: 45px;
}

.contact-section .section-title span {
  font-size: 16px;
  color: var(--dark);
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}

.contact-section .section-title span::before {
  content: "";
  position: absolute;
  height: 5px;
  background: var(--primary-color);
  width: 50px;
  bottom: -10px;
}

.contact-section .section-title h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}

.contact-section .service-inner-item h2 {
  font-size: 20px;
  color: var(--white);
}

.contact-section .service-inner-item {
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  padding: 34px 10px;
  border-radius: 5px;
}

.contact-section .service-inner-item p {
  margin: 0;
}

.contact-section .service-inner-item .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
}

.contact-section .service-inner-item svg {
  color: var(--white);
  height: 25px;
  width: 25px;
  margin-top: 12px;
}

.contact-section .service-inner-item a {
  color: var(--white);
  text-decoration: none;
}

.contact-section .contact-form-item {
  margin-bottom: 25px;
}

.contact-section .contact-form-item input {
  background-color: var(--white);
  border-radius: 5px;
  border: 0;
  margin-bottom: 20px;
  box-shadow: none;
  height: 50px;
  color: var(--dark);
}

.contact-section .contact-form-item textarea {
  background-color: var(--white);
  color: var(--dark);
  border-radius: 5px;
  border: 0;
  box-shadow: none;
}

.contact-section .contact-form-item p {
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.contact-section .contact-item ::placeholder {
  color: var(--dark);
}

.contact-section .contact-form-item .submit-btn {
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  margin-right: 10px;
  border: none;
  width: 100%;
}

.contact-section .contact-form-item .submit-btn:hover {
  color: var(--dark);
  background-color: var(--white);
}

.contact-section .contact-form-item {
  background-color: var(--secondary-color);
  padding: 35px 20px;
  border-radius: 5px;
}

/* ===== contact-section-start ===== */

/* ===== Faq-section-start ===== */

.faq-section {
  padding: 90px 0px;
  background-color: var(--white);
  overflow: hidden;
}

.faq-section .section-title {
  margin: 0px 250px 45px 250px;
  text-align: center;
}

.faq-section .section-title span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}

.faq-section .section-title span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  left: -60px;
  top: 10px;
}

.faq-section .section-title span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}

.faq-section .section-title h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}

.faq-section .card {
  margin: 0px 100px 15px 100px;
}

.faq-section .card-header:first-child {
  background-color: var(--white);
  color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.faq-section .btn-link {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-align: left;
  transition: ease-in-out 2s;
}

.faq-section .btn-link svg {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 12px;
}

.faq-section .card-body {
  font-size: 14px;
  color: var(--dark);
  font-weight: 500;
  padding: 10px 28px;
  transition: ease-in-out 2s;
}

/* ===== Faq-section-end ===== */

/* ===== error-section-start ===== */

.error-page {
  padding: 90px 0px;
  overflow: hidden;
}

.error-page .error-item {
  text-align: center;
}

.error-page .error-item span {
  font-size: 120px;
  color: var(--secondary-color);
  font-weight: 800;
  text-shadow: 8px 0 #1b5fdd, -2px 0 #1b5fdd, 0 2px #3184f1, 0 -2px #1b5fdd,
    1px 1px #1b5fdd, -1px -1px #1b5fdd, 1px -1px #39a9f3, -1px 1px #1b5fdd;
}

.error-page .error-item h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 30px;
}

.error-page .error-item p {
  font-size: 16px;
  color: var(--grey);
  font-weight: 500;
  margin-bottom: 40px;
}

.error-page .home-btn {
  text-align: center;
}

.error-page .home-btn a {
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 15px 30px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}
/* ===== error-section-end ===== */


/* ==== service-page-start ==== */

.additional-services-section {
  padding: 90px 0;
  background-color:var(--background-color);
  overflow: hidden;
}


.additional-services-section .section-title {
  margin: 0px 280px 45px 280px;
  text-align: center;
}

.additional-services-section .section-title span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}

.additional-services-section .section-title span::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  left: -60px;
  top: 10px;
}

.additional-services-section .section-title span::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 10px;
  right: -60px;
}

.additional-services-section .section-title h2 {
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-top: 15px;
}

.additional-services-section .service-card {
  background-color: var(--white);
  border-radius: 12px;
  padding: 25px 10px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.additional-services-section .service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.additional-services-section .service-card img.service-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.additional-services-section .list-group-item{
  padding: 0;
  margin-top: 5px;
  font-weight: 600;
}


.additional-services-section .service-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.additional-services-section .service-card p {
  font-size: 16px;
  color:var(--dark);
  line-height: 1.6;
}

/* ==== service-page-end ==== */


/* ====media query==== */

@media (max-width: 992px) {
  .service-section .section-title,
  .who-we-are .Who-wre-are-item,
  .our-team .section-title,
  .testimonial-section .section-title,
  .faq-section .section-title,
  .clients-section .section-title,
  .additional-services-section .section-title {
    margin: 0px 20px 45px 20px;
  }
}

@media (max-width: 768px) {
  .faq-section .card {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 575px) {
  .Hero-section .hero-caption h2 {
    font-size: 28px;
  }

  .service-section .section-title h2,
  .who-we-are .Who-wre-are-item h2,
  .our-team .section-title h2,
  .testimonial-section .section-title h2,
  .about-section .about-content h2,
  .whyChoose-section .whyChoose-content h2,
  .case-study-section .section-title h2,
  .cta-section .cta-item h2,
  .contact-section .section-title h2,
  .faq-section .section-title h2,
  .clients-section .section-title h2,
  .additional-services-section .section-title h2 {
    font-size: 24px;
  }

  .breadcrumb-section .breadcrumb-heading h2 {
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  .Hero-section .readbtn,
  .Hero-section .contactbtn {
    padding: 15px 20px;
  }

  .who-we-are .Who-wre-are-item span::before {
    left: -35px;
    width: 30px;
  }

  .who-we-are .Who-wre-are-item span::after {
    width: 30px;
    right: -35px;
  }
}

/*==== media query end ====*/
